<!DOCTYPE html>
<html lang="efi">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/tyylit/tyylit.css" class="text/css">
    <title><%= paaotsikko %></title>
</head>
<body>
    <main>
        <div class="valikonOtsikko">
        <h1><%= otsikko %></h1>
        </div>

        <div class="container">
                <p><%= viesti %></p>
                <img src="/kuvat/kissat.jpg" alt="kissat">
            <a href="/" class="nappi"><button>Takaisin valikkoon</button></a>
        </div>
    </main>
</body>
</html>