<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/tyylit/tyylit.css" class="text/css">
    <title>Virhe</title>
</head>
<body>
    <main>
        <div class="valikonOtsikko">
            <h1>Virhe</h1>
        </div>

        <div class="container">
            <img src="/kuvat/suruKissa.jpg" alt="suruKissa">
            <p><%= viesti %></p>

             <a href="/" class="nappi"><button>Takaisin valikkoon</button></a>
        </div>
    </main>
</body>
</html>